################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/config
/Execise/bin/Debug
/Execise/obj/Debug
/Execise.Service/bin/Debug
/Execise.Service/obj/Debug
/packages
/Execise.WebAPI/bin
/Execise.WebAPI.Tests/bin/Debug
/Execise.WebAPI.Tests/obj/Debug
/Execise.Model
/Execise.WebAPI/obj/Debug
/.vs/Execise2/v14
/Execise.WebAPI.Tests/Execise.WebAPI.Tests.csproj.user
/Execise.WebAPI/Execise.WebAPI.csproj.user
