USE [master]
GO
/****** Object:  Database [Execice2]    Script Date: 10/30/2016 10:44:34 PM ******/
CREATE DATABASE [Execice2]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Execice2', FILENAME = N'C:\Users\LiveNo\Execice2.mdf' , SIZE = 3264KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'Execice2_log', FILENAME = N'C:\Users\LiveNo\Execice2_log.ldf' , SIZE = 832KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Execice2].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Execice2]
GO
/****** Object:  Table [dbo].[Account]    Script Date: 10/30/2016 10:44:34 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Account](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Number] [nvarchar](50) NOT NULL,
	[Name] [nvarchar](250) NOT NULL,
	[Balance] [float] NOT NULL,
 CONSTRAINT [PK__Table__3214EC07B1BB3F8A] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
USE [master]
GO
